<!DOCTYPE html>
<html>
<head>
    <title>Вход</title>
    <meta charset="utf-8">
</head>
<body>
<form name="user" action="/addUser" method="post">
    <label>Имя</label><input type="text" name="name" title="name"/><br>
    <label>Пароль</label><input type="password" name="password" title="password"/><br>
    <input type="submit" value="Регистрация">
</form>
</body>
