<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Лабораторная работа 6</title>
</head>
<body>
<h1>Приветствую тебя</h1>
<form name="user" action="/login" method="post">
    <label>Имя</label><input type="text" name="name" title="name"/><br>
    <label>Пароль</label><input type="password" name="password" title="password"/><br>
    <input type="submit" value="Вход">
</form>
<hr/>
<a href="/addUser">Регистрация</a>
<a href="/users">Список пользователей</a>
</body>
</html>