<html>
<head>
    <title>Пользователи</title>
    <meta charset="UTF-8">
</head>
<body>
<h1>Hi</h1>
<#list users as user>
<ol>
    <li>${user.name}</li>
</ol>
</#list>
<hr/>
<form method="post" action="/exit" name="exit">
    <input type="submit" value="Выход">
</form>
</body>
</html>
